
:root {

    --container-padding: 1rem;

    --image-container-margin-bottom: 2rem;

    --image-caption-margin-top: 1rem;

    --background-color: #141B5F;

    --main-heading-color: #FBFFB9;

    --image-heading-color: #E4E4E4;

  }

 

  body {

    margin: 0;

    background-color: var(--background-color);

  }

 

  .main-heading {

    color: var(--main-heading-color);

    text-align: center;

    padding: 1rem;

  }

 

  .container {

    display: flex;

    flex-wrap: wrap;

    justify-content: space-between;

    align-items: flex-start;

    min-height: 10vh;

    padding: var(--container-padding);

  }

 

  .image-container {

    flex-basis: calc(33.3333% - var(--container-padding) * 2);

    text-align: center;

    margin-bottom: var(--image-container-margin-bottom);

  }

 

  .image {

    width: 100%;

    max-width: 100%;

    height: auto;

  }

 

  .image-heading {

    color: var(--image-heading-color);

  }

 

  .image-caption {

    color: white;

    margin-top: var(--image-caption-margin-top);

    font-style: Poppins, Light;

  }

 

  @media (max-width: 768px) {

    .container {

      flex-wrap: nowrap;

    }

   

    .image-container {

      flex-basis: 100%;

      margin-bottom: var(--image-container-margin-bottom);

    }

    .image {

      width: 70%;

    }

  }

 